---
menu: main
nav_label: stuff i can do for you
nav_weight: 2
title: Cactus.Works
---

<h1>This is the stuff I can do for you</h1>

<section>
	<p>I build websites and emails.  But more than that, I build tools that can go to work for you.  You won't get templated work from me (unless you ask for a template!).</p>
</section>

<section class="services__group">
	<h2>Responsive HTML Email</h2>
	<ul>
		{% for product in site.products %}
			{% if product.active == "active" and product.category == "email" %}
			<li class="service--{{product.type}}">
			<h4>{{product.name}}</h4>
			<p>{{product.content}}</p>
			<button>Get a quote</button>
			</li>
			{% endif %}
		{% endfor %}

	</ul>
</section>

<section class="services__dontdo">
	<h2>Stuff you won't get from me</h2>
	<ul>
		<li>Copywriting</li>
		<li>SEO</li>
		<li>Graphic design</li>
	</ul>
</section> 