---
layout: main
menu: main
nav_label: some stuff i've done
nav_weight: 5
excerpt: case studies and examples of work
---

<h1>Work I've done</h1>

<section class="case-studies">
	<ul>
		<li class="project-type__email"><div>A series of responsive HTML emails for a global private bank</div></li>
		<li class="project-type__email"><div>Modular email template for a Fortune 100 financial institution.</div></li>
		<li class="project-type__email"><div>Responsive email newsletter template for a multinational media and entertainment company</div></li>
		<li class="project-type__wp"><div>WordPress website design and development for tech PR agency</div></li>
		<li class="project-type__wp"><div>WordPress website design and development for New Jersey personal training and gym</div></li>
	</ul>
</section> 

<section class="clients">
	<h2>Work done for:</h2>
	
	<div class=" flex__wrapper clients__logos">
	{% for logo in site.static_files %}
		{% if logo.path contains 'clients' %}
			<img class="client-logo" src="{{logo.path}}">
		{% endif %}
	{% endfor %}
	</div>
</section>