<div class="contact-form">
	<h2>Drop me a line:</h2>
	<form id="contact" name="contact" method="POST" action="assets/php/mailform.php">
		<input type="hidden" id="honeypot">
		<label for="name">Name</label>
			<input type="text" name="name" id="name" required="">
		<label for="email">Email</label>
			<input type="email" name="email" id="email" required="">
		<label for="message">Message</label>
			<textarea data-autoresize id="message" name="message" rows="1" required=""></textarea>
		<div id="form-messages"></div>
		<div class="actions">
			<button type="reset" id="reset" class="form-send">wait, not yet</button>
			<button type="submit" id="submit" class="form-send">send message</button> 

<!--
			<button
				class="g-recaptcha form-send"
				data-sitekey="6LfGIRsUAAAAAC5-6j2n7fIknAUzrxKdmMT4pZj9"
				data-callback="onSubmitFn" type="submit" id="submit">
				send message
			</button>
-->
		</div>
	</form>
</div>