@import 'breakpoint';
@import 'mixins';

// breakpoints
$mobile-only: max-width 575px;

/* Global Styles */
* {
	box-sizing: border-box;
}
body {
	@extend %zeroMP;
	background: color(bgColor);
	font: 18px/2 font(defaultSerif);
	color: color(primaryText);
}
button {
	transition: all 1s ease-in;
}
a, a:active, a:visited {
	text-decoration: none;
	color: color(primary);
}

img {
	max-width: 100%;
	height: auto;
}
ul, li {
	@extend %zeroMP;
}
.logo {
    max-width: 100px;
    height: auto;
    text-align: center;
    img {
        margin: 0 auto;
    }
    h1 {
        margin: 0;
    }
}
.wrapper {
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
// 	background-color: color(bgColor);
	position: relative;
	margin: 0 auto;
	padding: 2rem 0 0;
	width: 100%;
	text-align: center;
 	&:after {
	 	content: "";
		flex: 0 0 100%;
        transform: skewY(-4deg);
        transform-origin: 100%;
        background-color: color(footer);
        height: 7vw;
        margin-top: 5%;
 	}
}
.global-nav {
	text-align: left;
	flex: 0 1 24%;
    margin-right: 4%;
	@include breakpoint(575px) {
		@for $i from 1 through 10 {
            $nav-skew: (random(10) + 3) + deg;
            $nav-rotate: (random(5) - 5) + deg;
        	.nav-#{$i} {
            	width: (random(90) + 20%);
            	min-width: 70%;
            	max-width: 100%;
            	transform-origin-y: 0;
        		transform: skewX(-$nav-skew) rotate($nav-rotate);
        		a {
                    transform: skewX($nav-skew);
        		}
        	}
        }
		a {
    		display:inline-block;
    		padding-right: 1rem;
    		color: #fff;
		}
    }
	ul {
    	display: grid;
        grid-template-rows: repeat(5, 1rem);
        grid-row-gap: 5rem;
	}
	li[class|="nav"] {
    	@include breakpoint(575px) {
        	display: block;
			font-size: 2rem;
			background-color: color(nav);
			text-align: right;
			box-shadow: 5px 5px color(navAccent);
    	}
		line-height: 1.5;
		display: inline-block;
		list-style: none;
		padding: .5rem .5rem .5rem 0;
		font-size: 7vw;
		font-family: font(defaultSans);
	}
}

.content-container {
    flex: 0 1 64%;
    margin: 0 auto;
    min-height: 70vh;
	@include breakpoint(575px) {

	}
	text-align: left;
	.big-text {
		color: color(primaryText);
		font: 700 5rem font(defaultSans);
		margin: -.5rem .5rem auto 0;
		float: left;
		&:after {
			clear: both;
		}
	}
}
footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	background-color: color(footer);
	-webkit-backface-visibility: hidden;
}
.contact-form {
	flex: 1 0 100%;
	border: solid 4px color(footer);
	border-bottom-width: 1px;
	background-color: white;
	padding: 1rem;
	font: 700 1.2rem font(defaultSerif);
	text-align:left;
	color: color(formText);
	@include breakpoint(575px) {
    	flex: 0 1 48%;
		transform: translateY(-35%);
	}
	h2 {
		margin-top: 0;
	}
	label, input, textarea {
		width: 100%;
		display: block;
		margin: 0;
		&:focus {
			outline: none;
		}
	}
	input, textarea {
		border: none;
	}
	input, textarea {
		line-height: 1.5;
		font: 700 1.5rem font(defaultSans);
		color: color(formText);
		border-bottom: .1rem solid lighten(color(formText), 70%);
		margin-bottom: 1rem;
		transition: all 1s ease-in-out;
		&:focus {
			border-bottom: .1rem solid color(formText);
		}
	}
	textarea {
		font-weight: 400;
	}
	label {
		text-align: left;
	}
	.actions {
		text-align: right;
	}
	.form-send {
		padding: .55em;
		color:white;
		outline: none;
		&:hover {
			cursor: pointer;
		}
		&#submit {
			background-color: color(formText);
		}
		&#reset {
			background-color: white;
			color: lighten(color(formText), 50%);
		}
	}
}
.socialmedia {
	flex: 1 0 100%;
	text-align: center;
	.profile {
		margin-top: 1rem;
		border-radius: 50%;
		width: 60%;
		height: auto;
	}
	@include breakpoint(575px) {
		flex: 0 1 50%;
		img.profile {
			width: 50%;
		}
	}
}
.social-icons {
	margin: 1em auto;
	text-align: center;
	li {
		font: 700 1.7rem font(defaultSans);
 		display: inline-block;
 		&:not(:first-child) {
	 		margin-left: 1rem;
 		}
	}
	a:link, a:visited, a:active {
		color: color(primaryText);
		vertical-align: middle;
		&:hover {
			color: white;
		}
	}
}
