<form method="post" id="lead_contact" name="lead_contact" netlify action="/success.html">
	
	<fieldset>
		<legend class="for-screen-readers">Project type</legend>
		<span>I have a</span>
			<input type="checkbox" name="project_type[]" id="project_website" value="website" class="for-screen-readers">
			<label for="project_website">website</label>
			
			<input type="checkbox" name="project_type[]" id="project_email" value="html_email" class="for-screen-readers">
			<label for="project_email">html email</label>
			
			<input type="checkbox" name="project_type[]" id="project_wordpress" value="wordpress" class="for-screen-readers">
			<label for="project_wordpress">wordpress</label>
			
	    <span>project</span>
	</fieldset>
    <div class="contact-form-row">
	    <fieldset>
		    <legend class="for-screen-readers">Work type</legend>
		    <span>that I need</span>
	        <input type="checkbox" name="work_type[]" id="work_develop" value="develop" class="for-screen-readers">
			<label for="work_develop">developed</label>
	        <input type="checkbox" name="work_type[]" id="work_design" value="design" class="for-screen-readers">
			<label for="work_design">designed</label>.
			
			<div class="hideshow">
			    <label for="design_comps">If you already have a design please upload mockups or examples, which will help me put together a more accurate estimate for your project. Attach image files (jpg, png) or pdf.</label>
			    <input type="file" name="design_comps" id="design_comps" accept="image/*,.pdf">
		    </div>
	    </fieldset>
    </div>
	
	<div class="lead-from-services">
		<div class="clear-params">Need help with something else? Click here.</div>
		
	</div>
	<div class="contact-form-row">
		<label for="name">My name is </label>
		<input type="text" name="contact_name" id="name" required="">
	</div>
	
	<div class="contact-form-row">
		<label for="name">and my company website is </label>
		<input type="text" name="contact_website" id="website_url">
	</div>
	
	<div class="contact-form-row">
		<label for="email">You can email me back at </label>
			<input type="email" name="contact_email" id="email" required="">
	</div>
	
	<div class="contact-form-row">
		<label for="project_deadline">I'd like to launch by</label>
		<input type="date" name="deadline" id="project_deadline" value="">
	</div>
	
	<fieldset>
		<legend class="for-screen-readers">Budget</legend>
		<span>I am able to invest</span>
		
		<input type="radio" name="budget_range[]" id="budget_low" value="$" class="for-screen-readers">
		<label for="budget_low">$</label>
			
		<input type="radio" name="budget_range[]" id="budget_medium" value="$$" class="for-screen-readers">
		<label for="budget_medium">$$</label>
			
		<input type="radio" name="budget_range[]" id="budget_high" value="$$$" class="for-screen-readers">
		<label for="budget_high">$$$</label>
		<span> to make this project a success</span>
		<div>Knowing this lets me put together a more accurate scope of what we can achieve within your budget.</div>
	</fieldset>
	
	<div class="contact-form-row small-print">
		<input type="checkbox" name="marketing_consent" value="TRUE" id="consent" class="for-screen-readers"/>
		<label for="consent">Check this box to get occasional (never spam!) emails or newsletters from me.</label>
	</div>

	
	<div class="actions">
		<button type="submit" id="submit" class="form-send shadow">send message</button> 
		<button type="reset" id="reset" class="form-reset">clear form</button>
	</div>

	
</form> 