
	<ul class="social-icons">
		<li class="github">
			<a href="http://github.com/{{ site.sns_username }}"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
		</li>
		<li class="linkedin">
			<a href="http://linkedin.com/in/{{ site.sns_username }}/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
		</li>
		<li class="twitter">
			<a href="http://twitter.com/{{ site.sns_username }}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
		</li>
		<li class="instagram">
			<a href="http://instagram.com/{{ site.sns_username }}"><i class="fa fa-instagram" aria-hidden="true"></i></a>
		</li>
	</ul>
