.contact-wrapper {
    -webkit-flex: 1 0 100%;
	flex: 1 0 100%;
	border: solid 4px color(footer);
	border-bottom-width: 1px;
	background-color: white;
	padding: 1rem;
	font: 700 1.2rem $defaultSerif;
	text-align:left;
	color: color(formText);
		@include breakpoint(575px) {
    	-webkit-flex: 0 1 45%;
    	flex: 0 1 45%;
    	-webkit-transform: translateY(-30%);
		transform: translateY(-30%);
	}
}

.contact-wrapper.full-screen {
    display: flex;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    background-color: fade-out(white, .02);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    @include breakpoint(575px) {
        border-bottom-width: 4px;
    }
    #contact-form {
        width: 80%;
        margin: auto;
        border: none;
        background-color: fade-out(white, 1);
        @include breakpoint(575px) {
            &, input, select {
                font-size: 2rem;
            }
            .contact-form-row {
            	display: inline-block;
        	}
		}
    }
    
}

#contact-form {
	position: relative;
	h2 {
		margin-top: 0;
	}
	label, input, textarea, legend {
		margin: 0;
		display: inline-block;
		&:focus {
			outline: none;
		}
	}
	input, textarea {
    	background-color: lighten(color(formText), 80%);
		line-height: 1.5;
		font: 700 1.5rem $defaultSans;
		color: color(formText);
		border-bottom: .1rem solid lighten(color(formText), 70%);
		margin-bottom: 1rem;
		transition: all 1s ease-in-out;
		padding: .2rem .5rem;
		border: none;
		outline: none;
		&:focus {
			border-bottom: .1rem solid color(formText);
		}
	}
	fieldset {
    	border: none;
        outline: none;
        padding-left: 0;
	}
	input[type="text"] {
    	width: 100%;
	}
	input[type="checkbox"] {
    	&:checked {
        	+ label {
            	background-color: color(formText);
            	color: white;
        	}
    	}
	}
	input[type="checkbox"] + label {
    	padding: .2rem .5rem;
    	background-color: lighten(color(formText), 80%);
    	border: 1px solid lighten(color(formText), 80%);
    	&:hover {
        	border: 1px solid color(formText);
    	}
	}
	textarea {
		font-weight: 400;
	}
	label {
		text-align: left;
	}
	.actions {
		text-align: right;
	}
	.form-send {
		padding: .55em;
		color:white;
		outline: none;
		&:hover {
			cursor: pointer;
		}
		&#submit {
			background-color: color(formText);
		}
	}
	.form-reset {
    	transition: none;
    	color: color(primary);
    	position: absolute;
    	right: 4px;
    	top: 4px;
    	background-color: fade-out(white, 1);
	}
}

.intake-form-wrapper {
    margin: auto;
    text-align: left
}