form {
	position: relative;
	padding-top:2rem;
	fieldset {
    	outline: none;
    	border: none;
    	padding: 0;
	}
}
label, input:not([type="checkbox"]), legend, span {
	display: block;
	width: 100%;
	font-size: 1.8rem;
	@include breakpoint(575px) {
		display: inline-block;
		width: auto;
	}
}
input:not([type="checkbox"]) {
	line-height: 1.5;
	color: $color;
	outline: none;
	padding: .2rem .5rem;

}
input {
	font: 700 1.5rem $default-serif;
	background-color: lighten($color, 80%);
	border: 1px solid $color;
}
label {
	margin-bottom: 4rem;
}
label, span {
	font-weight: 400;
}

input[type="checkbox"] {
	+ label {
		position: relative;
		font-family: $default-serif;
		margin-left: 2rem;
		border-style: solid;
		border-width: 1px;
		border-color: white white $color white;
		&:before {
			content: '';
	    	border: 1px solid $color;
	    	width: 1.5rem;
	    	height: 1.5rem;
	    	display: inline-block;
        	color: $color;
        	position: absolute;
        	left: -2rem;
        	top: 25%;
    	}
    	&:hover {
        	cursor: pointer;
    	}
	}
	&:checked {
    	+ label {
        	font-weight: 700;
        	&:after {
            	content: '\2713';
            	position: absolute;
            	top: 0;
            	left: -2rem;
            	font-size: 2rem;
        	}
    	}
	}
}
input:focus, input:focus + label {
	border: dashed $color 1px;
}
.small-print {
	input[type="checkbox"] {
		+ label {
			border-color: white;
			font-size: 1rem;
			&:before {
				top: 0;
			}
		}
		&:checked {
			+ label:after {
				top: -50%;
			}
		}
	}
}

.actions {
	text-align: right;
	margin-top: 2rem;
	#submit, #reset {
		background-color: #fff;
        color: $color;
	}
	#submit {
		border: 2px solid $color;
		&:hover {
			background-color: $color;
			color: white;
			font-family: $default-serif;
		}
	}
	#reset {
		margin-left: 1rem;
	}
}
.form-send {
	padding: 1rem;
	font-size: 1.2rem;
	color:white;
	outline: none;
	&:hover {
		cursor: pointer;
	}
}
.cancel-to-home {
	font-size: 1rem;
}


.intake-form-wrapper {
    margin: auto;
    text-align: left
}