form {
	position: relative;
	padding-top:2rem;
	fieldset {
    	outline: none;
    	border: none;
    	padding: 0;
	}
}

#form--estimate + label, #form--general + label {
	text-align: center;
	margin: 0 .25rem;
	padding: 1rem 0;
	font-family: $default-serif;
	border-style: solid;
	border-color: $color;
}


label, input:not([type="checkbox"]):not([type="radio"]), legend, span {
	display: block;
	width: 100%;
	font-size: 1.6rem;
	@include breakpoint(575px) {
		display: inline-block;
		width: auto;
	}
}
input:not([type="checkbox"]):not([type="radio"]), textarea {
	line-height: 1.5;
	color: $color;
	outline: none;
	padding: .2rem .5rem;
	&:focus {
		border: 1px $color dashed;
	}
}
input, textarea {
	font: 700 1.5rem $default-serif;
	background-color: lighten($color, 80%);
	border: 1px solid $color;
}
label {
	margin-bottom: 4rem;
}
label, span {
	font-weight: 400;
}

form input[type="checkbox"] {
	+ label {
		position: relative;
		font-family: $default-serif;
		margin-left: 2rem;
		border-style: solid;
		border-width: 1px;
		border-color: white white $color white;
		&:before {
			content: '';
	    	border: 1px solid $color;
	    	width: 1.5rem;
	    	height: 1.5rem;
	    	display: inline-block;
        	color: $color;
        	position: absolute;
        	left: -2rem;
        	top: 25%;
    	}
    	&:hover {
        	cursor: pointer;
    	}
	}
	&:focus {
		+ label {
			border-style: dashed;
			border-width: 1px;
			border-color: white white $color white;
		}
	}
	&:checked {
    	+ label {
        	font-weight: 700;
        	&:after {
            	content: '\2713';
            	position: absolute;
            	top: 0;
            	left: -2rem;
            	font-size: 2rem;
        	}
    	}
	}
}
form input[type="radio"] {
	+ label {
		padding: 0 .5rem;
		border: 1px solid $color;
		position: relative;
		width: 4rem;
		text-align: center;
		margin-bottom: 2rem;
		font-weight: bold;
		&:after {
			position: absolute;
			top: 2.8rem;
			left: 0;
			font-size: .8rem;
			line-height: 1;
			text-align: left;
			color: $color;
			font-weight: normal;
		}
	}
	&:focus {
		+ label {
			border: dashed $color 1px;
		}
	}
	&:checked {
		+ label {
			background-color: $color;
			color: white;
			border-style: solid;
		}
	}
	&#budget_low + label:after {
		content: 'starting at $1200';
	}
	&#budget_medium + label:after {
		content: 'starting at $5000';
	}
	&#budget_high + label:after {
		content: 'starting at $10,000';
	}
}

input#work_develop:checked ~ .hideshow {
	display: block;
}
input#work_develop ~ .hideshow, input#work_design:checked ~ .hideshow {
	display: none;
}
input#work_develop ~ .hideshow {
	border: 1px solid $color;
	margin-bottom: 4rem;
	padding: 2rem;
	position: relative;
	label {
		margin-bottom: 1rem;
	}
	&:after {
	    content: '';
	    position: absolute;
	    left: .5rem;
	    right: -1rem;
	    bottom: -1rem;
	    top: .5rem;
	    border: 1px solid $color;
	    z-index: -1;
    }
}
.small-print {
	margin-top: 4rem;
	input[type="checkbox"] {
		+ label {
			border-color: white;
			font-size: 1rem;
			&:before {
				top: 0;
			}
		}
		&:checked {
			+ label:after {
				top: -50%;
			}
		}
	}
}

.actions {
	text-align: right;
	margin-top: 2rem;
	#submit, #reset {
		background-color: #fff;
        color: $color;
	}
	#submit {
		border: 2px solid $color;
		&:hover {
			background-color: $color;
			color: white;
			font-family: $default-serif;
		}
	}
	#reset {
		margin-left: 1rem;
	}
}
.form-send {
	padding: 1rem;
	font-size: 1.2rem;
	color:white;
	outline: none;
	&:hover {
		cursor: pointer;
	}
}
.cancel-to-home {
	font-size: 1rem;
}

.general_contact {
	margin: 1.5rem 0;
	background-color: $color;
	color: white;
	padding: 2rem;
	p {
		margin: 0;
		font-size: 1.25rem;
		font-weight: 700;		
	}
	a {
		color: white;
		font-weight: normal;
	}
/*
	.cryptedmail:after {
	  content: attr(data-name) "@" attr(data-domain) "." attr(data-tld); 
	}
*/
}

.lead-from-services {
	display: none;
}

.clear-params {
	display: inline-block;
	font-size: 1rem;
	position: absolute;
	right: 0;
	&:hover {
		cursor: pointer;
	}
}

