

.contact-wrapper.full-screen {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    background-color: fade-out(white, .02);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: scroll;
    border-bottom-width: 4px;
    #contact-form {
        margin: auto;
        border: none;
        background-color: fade-out(white, 1);
    }
    
}

#contact-form {
	position: relative;
	font-family: $defaultSans;
    @include breakpoint(575px) {
        font-size: 2rem;
        width: 80%;
        max-width: 1000px;
        .contact-form-row {
        	display: inline-block;
    	}
    }
	form {
    	position: relative;
    	padding-top:2rem;
    	@include breakpoint(575px) {
        	position: static;
        	padding-top: 0;
    	}
	}
	h2 {
		margin-top: 0;
	}
	label, input:not([type="checkbox"]), legend, span {
		display: block;
		width: 100%;
		font-size: 1.8rem;
		@include breakpoint(575px) {
    		display: inline-block;
    		width: auto;
		}
	}
	legend {
    	font-size: 1px;
	}
	input:not([type="checkbox"]) {
    	line-height: 1.5;
		color: color(formText);
		outline: none;
		padding: .2rem .5rem;
		@include breakpoint(575px) {
    		width: auto;
		}
	}
	input {
    	font: 700 1.5rem $defaultSerif;
    	background-color: lighten(color(formText), 80%);
		border: 1px solid white;
    	@include breakpoint(575px) {
        	margin: 0 0 1rem;
    	}
		&:focus {
			border: dashed color(formText) 1px;
		}
	}
	fieldset {
    	border: none;
        outline: none;
        padding: 0 0 1rem;
        .contact-form-row {
            padding-top: 1rem;
            label {
                display: inline-block;
                width: 48%;
            }
            input {
                width: 1px;
            }
            @include breakpoint(575px) {
                label {
                    display: inline-block;
                    width: auto;
                }
            }
        }
	}
	input[type="checkbox"] {
    	&:focus + label {
        	border: dashed color(formText) 1px;
    	}
    	&:checked {
        	+ label {
            	background-color: color(formText);
            	color: white;
            	&:before {
                	font-family: 'FontAwesome';
                	content: '\f14a\00A0';
            	}
        	}
    	}
	}
	input[type="checkbox"] + label {
    	font-family: $defaultSerif;
    	padding: .5rem;
    	background-color: lighten(color(formText), 80%);
    	border: 1px solid lighten(color(formText), 80%);
    	&:hover {
        	border: dashed color(formText) 1px;
        	cursor: pointer;
    	}
    	&:before {
        	font-family: 'FontAwesome';
        	content: '\f0c8\00A0';
        	color: lighten(color(formText), 60%);
    	}
	}
	.actions {
		text-align: right;
	}
	.form-send {
		padding: 1rem;
		font-size: 1.2rem;
		color:white;
		outline: none;
		&:hover {
			cursor: pointer;
		}
		&#submit {
			background-color: #fff;
            color: color(formText);
            border: 2px solid color(formText);
		}
	}
	.form-reset, .cancel-to-home {
    	color: color(primary);
    	position: absolute;
    	left: 0;
    	top: -1rem;
    	@include breakpoint(575px) {
        	left:auto;
        	right: 4px;
            top: 4px;
    	}
	}
	.form-reset {
    	transition: none;
    	padding: 0;
    	background-color: fade-out(white, 1);
	}
	.cancel-to-home {
    	font-size: 1rem;
	}
}

.intake-form-wrapper {
    margin: auto;
    text-align: left
}