// Base
html {
	height: 100%;
}
body {
	height: 100%;
	@extend %zeroMP;
	background: #fff;
	font: 300 20px/1.5 $default-sans;
	color: $color;
	display: grid;
	grid-template-columns: 1fr 9fr;
	grid-column-gap: .5rem;
}
div > p:first-child, div > h1:first-child {
    margin-top: 0;
}
button {
	padding: .55em;
	font: 700 1rem $default-sans;
	border: none;
	&:hover {
		cursor: pointer;
	}
}
a, a:active, a:visited, a:hover {
    	color: $color;
    	text-decoration: underline;
    	font-family: $default-serif;
    }
img {
	max-width: 100%;
	height: auto;
}

h2 {
    font-family: $headings;
}


// Layout
.wrapper { 
	flex: 1 1 auto;
	height: 100%;
	display: grid;
	grid-template-columns: 2fr 8fr;
	grid-column-gap: .5rem;
}

.grid__item {
	border: 1px solid $color;
}

.header__global {
	flex: 0 0 10%;
	min-width: 5vw;
	position: relative;
	h1.company {
		font-size: 4rem;
		text-transform: uppercase;
		letter-spacing: 1rem;
		writing-mode: vertical-lr;
		transform: rotate(180deg);
		text-align: right;
		margin-left: -2rem;
		a {
			text-decoration:none;
		}
	}
	.availability {
		background: $available, white;
		background-repeat: repeat-y;
		background-size: contain;
		width: 9px;
		text-indent: -9999em;
		position: absolute;
		top: -1rem;
		left: 50%;
		bottom: 0;
		transform-origin: 6%;
	}
}

.content-container {
	text-align: left;
	padding: 1rem 2rem;
	grid-column: 2;
	display: grid;
	padding-right: 4vw;
	padding-bottom: 4rem;
	align-content: start;
    a:hover {
        background: $color;  
    }
    h1 {
	    text-align: right;
    }
    h2 {
	    text-transform: capitalize;
    }
}

@media (prefers-color-scheme: dark) {

}
