// Base
html {
	height: 100%;
}
body {
	height: 100%;
	@extend %zeroMP;
	background: #fff;
	font: 300 20px/1.5 $default-sans;
	color: $color
}
div > p:first-child, div > h1:first-child {
    margin-top: 0;
}
button {
	padding: .55em;
	font: 700 1rem $default-sans;
	border: none;
	&:hover {
		cursor: pointer;
	}
}
a, a:active, a:visited, a:hover {
    	color: $color;
    	text-decoration: underline;
    	font-family: $default-serif;
    }
img {
	max-width: 100%;
	height: auto;
}
li {
	list-style-type: decimal-leading-zero;
}
h1 {
    font-family: $headings;
}

h1.company {
	font-size: 4rem;
	text-transform: uppercase;
	letter-spacing: 1rem;
	writing-mode: vertical-lr;
	transform: translateX(-4.25rem) rotate(180deg);
	text-align: right;
	margin:0;
}


// Layout
.wrapper { 
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 2fr 8fr;
	grid-column-gap: .25rem;
	grid-template-rows: 1fr;
	
}

.grid__item {
	border: 1px solid $color;
}

.content-container {
	text-align: left;
	padding: 1rem;
	grid-column: 3;
	display: grid;
	padding-right: 4vw;
    a:hover {
        background: $color;  
    }
}

#contact-form {
	grid-column: 3 / 5;
}


// Module
.xs {
    
}
.s {
    width: 35%;
}
.m {
    width: 50%;
}

.logo-absolute-bottom-left {
    bottom: 10px;
    left: 6px;
    @include breakpoint(575px) {
        position: absolute;
    }
}

// State