@import 'tuesday/tuesday';

.logo {
    display: inline-block;
    width: 50%;
    img {
        width: 90%;
        margin: 1rem auto 0;
    }
    h1 {
        margin: 0;
    }
    a {
        background: none;
        outline: none;
        display: block;
        text-align: center;
        &:hover {
            background: none;
        }
    }
    @include breakpoint(575px) {
        width: 20%;
        img {
            width: 70%;
        }
    }
}

.header-button_contact {
    position: absolute;
    top: 40px;
    right: 10px;
    .header-button_inner-wrapper {
        position: relative;
        &:after {
            content: '';
            display:inline-block;
            background-color: #fff;
            height: 16px;
            width: calc(2rem * 4);
            position: absolute;
            top: 12px;
            left: 0;
            z-index: -3;
            -webkit-clip-path: polygon(0 0, 98% 0%, 99% 77%, 6% 98%);
            clip-path: polygon(0 0, 98% 0%, 99% 77%, 6% 98%);
        }
        a {
            font: 700 1rem $defaultSans;
            color: color(contactButton);
            text-transform: uppercase;
            background: none;
            position: relative;
            white-space: nowrap;
            display: inline-block;
            transform: rotate(2deg);
            &:before {
                content: 'WORK WITH ME';
                display: inline-block;
                -webkit-text-stroke: 0.2rem #fff;
                position: absolute;
                left: 0;
                font-weight: 700;
                z-index: -1;
                @supports not (-webkit-text-stroke: 0.2rem) {
                    text-shadow: -1px -2px 0px #fff;
                }
            }
        }
    }
    @include breakpoint(575px) {
        position:absolute;
        right: 50px;
        .header-button_inner-wrapper {
            &:after {
                height: 24px;
                width: calc(2rem * 7);
                top: 9px;
                left: -18px;
            }
            a {
                font: 700 1.5rem $defaultSans;
            }
        }
    }
}

.global-nav {
	text-align: left;
	-webkit-flex: 0 1 100%;
	flex: 0 1 100%;
    margin-right: 4%;
	@include breakpoint(575px) {
    	-webkit-flex: 0 1 24%;
    	flex: 0 1 24%;
		@for $i from 1 through 10 {
    		.nav-#{$i}-animate {
                @include animated;
            	@include tdStampInSwing;
            	animation-delay: 550ms + ($i * 80ms);
        	}
            $nav-skew: (random(10) + 4) + deg;
            $nav-rotate: (random(5) - 5) + deg;
        	.nav-#{$i} {
            	width: (random(90) + 20%);
            	min-width: 80%;
            	max-width: 100%;
            	-webkit-transform: skewX(-$nav-skew) rotate($nav-rotate);
        		transform: skewX(-$nav-skew) rotate($nav-rotate);
        		-webkit-transform-origin: 0 0;
        		transform-origin: 0 0;
        		a {
            		-webkit-transform: skewX($nav-skew);
                    transform: skewX($nav-skew);
        		}
        	}
        }
		a {
    		display:inline-block;
    		padding-right: 1rem;
    		color: #fff;
		}
    }
	ul {
    	display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            -webkit-flex-direction: column;
            flex-direction: column;
            -webkit-justify-justify-content: space-between;
            justify-content: space-between;
	}
	li[class|="nav"] {
		list-style: none;
		padding: .5rem .25rem .5rem 0;
		font-family: $secondarySans;
		font-weight: 700;
		margin-bottom: 3vw;
        a {
            white-space: nowrap;
            padding-left: 25%;
        }
    	@include breakpoint(575px) {
        	display: block;
			font-size: 2rem;
			background-color: color(nav);
			text-align: right;
			box-shadow: 5px 5px 0 1px color(navAccent);
			min-height: 4rem;
			-webkit-transition: box-shadow 120ms ease-out;
			transition: box-shadow 120ms ease-out;
			a {
    			background: none;
    			padding-left: 0;
			}
			&:hover {
    			box-shadow: 5px 5px 0 1px color(bgColor);
			}
    	}
	}
}

/*Portfolio navigation */
a.overlay-menu {
	color: #fff;
	font: 700 .83rem $defaultSans;
	padding-right: 1rem;
	position: absolute;
	top: 10px;
	right: 0;
	line-height: 2;
}
a.overlay-menu_bottom {
    line-height:100px;
}
