@import 'tuesday/tuesday';

.logo-header {
    display: inline-block;
    width: 50%;
    img {
        width: 90%;
        margin: 1rem auto 0;
    }
    h1 {
        margin: 0;
    }
    a {
        outline: none;
        display: block;
        text-align: center;
        &:hover {
            background: none;
        }
    }
    @include breakpoint(575px) {
        width: 20%;
        img {
            width: 70%;
        }
    }
}

.header-button_contact {
    position: absolute;
    top: 40px;
    right: 10px;
    &:hover {
        cursor: pointer;
    }
    .header-button_inner-wrapper {
        position: relative;
        &:after {
            content: '';
            display: inline-block;
            height: 20px;
            width: calc(2rem * 6.5);
            background-color: #fff;
            position: absolute;
            top: 6px;
            left: -10px;
            z-index: -3;
            -webkit-clip-path: polygon(0 0, 98% 0%, 99% 77%, 6% 98%);
            clip-path: polygon(0 0, 98% 0%, 99% 77%, 6% 98%)
        }
        a {
            font: 700 1.6rem $defaultSans;
            color: color(contactButton);
            text-transform: uppercase;
            background: none;
            position: relative;
            white-space: nowrap;
            display: inline-block;
            transform: rotate(2deg);
            padding: 0;
/*
            text-shadow: 1px 1px 0px white,
                                -1px 1px white,
                                -1px -1px white, 
                                1px -1px white;
*/
            &:before {
                content: 'WORK WITH ME';
                display: inline-block;
                -webkit-text-stroke: 0.2em #fff;
                position: absolute;
                left: 0;
                font-weight: 700;
                z-index: -1
            }
        }
    }
    @include breakpoint(575px) {
        right: 50px;
        .header-button_inner-wrapper {
            &:after {
                height: 24px;
                width: calc(2rem * 7);
                top: 8px;
                left: -12px;
            }
            a {
                font: 700 1.5rem $defaultSans;
            }
        }
    }
}

.new-client-status {
    margin: 0;
    font: 300 1.2rem $secondarySans;
    color: color(primary);
    
}

/*Portfolio navigation */
a.overlay-menu {
	color: #fff;
	font: 700 .83rem $defaultSans;
	padding-right: 1rem;
	position: absolute;
	top: 10px;
	right: 0;
	line-height: 2;
	background: linear-gradient(transparent 70%, color(linkUnderline) 70%);
}
a.overlay-menu_bottom {
    line-height:100px;
}
