// Invoice
.page__billing {
    margin: 0 auto;
    text-align: left;
    .content {
	    max-width: 1000px;
	    margin: auto;
    }
	p {
		color: color(darkText);
		font-family: $default-sans;
	}
	a {
		color: $color;
	}
}

.invoice-wrapper {
	position: fixed;
	left: 2vw;
	right: 2vw;
	object#invoice {
		width: 96vw;
		height: 80vh;
	}
}

