/* VARIABLES and PLACEHOLDERS */

$color: #e51041;


$default-serif: 'Roboto Mono', 'Palatino', serif;
$default-sans: 'Roboto', Helvetica, Arial, sans-serif;
$secondary-sans: 'Roboto Condensed', 'Futura', 'Arial Narrow', sans-serif;
$headings: 'Roboto Condensed', sans-serif;

/* MIXINS and FUNCTIONS */
%zeroMP {
	margin: 0;
	padding: 0;
}
%clearFix {
	clear:both;
}

@mixin square($hw) {
	height: $hw;
	width: $hw;
}
@mixin angled-edge($color, $height, $skew, $origin) {
	transform: skewY($skew);
	transform-origin: $origin;
	height: $height;
	background-color: $color;
	-webkit-backface-visibility: hidden;
}
@mixin level-text($deg) {
	transform: rotate($deg);
	transform-origin: center;
}
@mixin reSkew($deg) {
	transform: skewY($deg) rotate(-$deg);
}
