.global-nav {
	ul, ol {
		display: flex;
		flex-flow: column;	
		justify-content: space-between;
		height: 80vh;
		margin-left: .5rem;
	}
    a {
        color: $color;
//         border-bottom: 1px solid $color;
    }
	li[class|="nav"] {
		font: 400 .85rem $default-serif;		
		padding: 0;
	}

}

