$dSizes: (
	mini: 20px,
	xsmall: 96px,
	small: 100px,
	medium: 120px,
	large: 140px
);
@function size($key) {
	@if map-has-key($dSizes, $key) {
		@return map-get($dSizes, $key);
	}
}
@mixin rhombus-container($color, $size) {
	@include square($size * 2.5);
	transform: rotate(45deg);
	border: solid $color $size/6;
}
@mixin diamondGrid($color, $size) {
	@extend %zeroMP;
	@include square($size);
	background-color: $color;
}
.main-nav {
	font: 700 1em font(defaultSerif);
	padding: 8vh 1em;
	display: inline-block;
	flex: 0 0 (size(large) * 2.75);
	a {
		color: white;
		text-decoration: none;
		cursor: pointer;
		display:block;
		transition: all 1s ease-in;
		&:hover {
			background-color: white;
			color: color(primary);
		}
	}
	li:first-child, li:nth-child(2) {
			margin-bottom: .3em;
		}
}
.nav-container {
	@include rhombus-container(color(primary), $mainDiamond);
	display: inline-flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	margin: 0;
}
.diamond {
	@include diamondGrid(color(primary), $mainDiamond);
	display: inline-block;
	p {
		@include level-text(-45deg);
		margin: 0;
		line-height: $mainDiamond;
	}
}
.sidebar {
	position: absolute;
	right: -($mainDiamond);
	top: $mainDiamond / 1.5;
	h2 {
		margin: 0;
		position: absolute;
 		top: 55%;
		left: -10%;
		font-size: 3em;
		@include level-text(-45deg);
	}
}