$portfolio: (
	mhz: null,
	dogr: null, 
	eloped: null,
	adoptee-citizen: null,
	mmp: null,
	newsletter: null,
	stanlaw: null,
	charet: null,
	hbo: null,
);
@each $project in $portfolio {
	.#{$project} {
   		$opacity: .7;
    	background: linear-gradient(to bottom, rgba(20,20,83,$opacity), rgba(20,20,83,$opacity)),
    				url('../img/#{$project}/#{$project}-hero.png') no-repeat center / cover;
     	background-blend-mode: multiply, luminosity;
    }
}
.portfolio-category {
    font-family: $secondarySans;
    color:color(primary);
    margin-bottom: 50px;
    margin-top: -10px;
}
.portfolio {
    -webkit-flex-direction: column;
    flex-direction: column;
}
.portfolio_group {
	display: flex;
	flex-wrap: wrap;
	a {
    	display:block;
    	background: none;
    	flex: 0 1 100%;
    	-webkit-justify-content: space-between;
		justify-content: space-between;
		margin-right: 10%;
    	&:hover {
        	background: none;
    	}
    	@include breakpoint (575px) {
	    	flex: 0 1 40%;
    	}
    	
	}
	@include breakpoint (575px) {
    	margin-top: 0;
	}
}
.project { 
    $skew-x: -3deg;
    $skew-y: 2deg;
    padding-left: .5rem;
    background: color(primary);
    height: 24vh;
    position: relative;
    -webkit-transform: skew($skew-x, $skew-y) rotate(-3deg);
    transform: skew($skew-x, $skew-y) rotate(-3deg);
    box-shadow: 1px 1px 0 15px color(lightAccent);
    margin-bottom: 5rem;
    @include breakpoint (575px) {
        height: 40vh;
    }
    .project-img {
        -webkit-transform: skew(-$skew-x, -$skew-y);
        transform: skew(-$skew-x, -$skew-y);
        width: 100%;
    	text-align: left;
    	height: 100%;
    	position: absolute;
    	top: 0;
    	right: .45rem;
        @include breakpoint (575px) {
            -webkit-transform: skew(-$skew-x, -$skew-y);
            transform: skew(-$skew-x, -$skew-y);
            top: .5rem;
        }
    }
    .project-title {
        position: absolute;
        top: -2.5rem;
    	a, h3 {
    		font-family: $secondarySans;
    		margin: 0 0 .25rem;
    		color: color(projectTitle);
    	}
    	div {
    		display:block;
    		color: white;
    		font: 400 1em $defaultSans;
    	}
    }
    .project-stack {
        position: absolute;
        color: #fff;
        bottom: 0;
        right: 1rem;
        font-size: 1rem;
    }
}



.case-study-header {
    width: 100%;
	margin: 0 2rem 1rem;
	a, span{
		font-family: $defaultSans;
	}
	h2 {
		line-height: 1.5;
		margin: 0;
	}
	> div {
    	border: 5px solid color(primaryText);
	}
}
.case-study-overview, .case-study-brief {
    -webkit-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-transform: skewX(-4deg);
    transform: skewX(-4deg);
    padding: 1rem;
    @include breakpoint(575px) {
        -webkit-flex: 0 0 50%;
        flex: 0 0 50%;
    }
}
.case-study-overview {
    margin-bottom: 1rem;
    p {
        margin-bottom: 0;
    }
    h2 {
        font-family: $secondarySans;
    }
    @include breakpoint(575px) {
        margin-bottom: 0;
    }
}
.case-study-brief {
	font-family: $defaultSans;
	background-color: color(primaryText);
	color: color(darkText);
	text-align: center;
	align-items: center;
	justify-content: center;
	.project-inner-container {
    	-webkit-transform: skewX(4deg);
        transform: skewX(4deg);
    }
}
.case-study-hero, .case-study-details {
    margin: 0 auto;
}
.case-study-hero {
	width: 90%;
	img {
		display: block;
	}
}
.case-study-details {
	width: 90%;
	margin-bottom: 2rem;
	text-align: left;
	p {
		margin: 1rem;
	}
	h3 {
        font-family: $secondarySans;
    }
	figure {
    	float:right;
    	width:40%;
    	border: solid white 3px;
	}
	figcaption {
    	font-size:14px;
    	text-align: center;
    	font-style: italic;
	}
}

[data-status] {
	text-transform: capitalize;
}
[data-status="inactive"] {
	color: #8c8c8c;
}
[data-status="active"] {
	color: #333;
}
