$portfolio: (
	mhz: null,
	dogr: null, 
	eloped: null,
	adoptee-citizen: null,
	mmp: null,
	newsletter: null,
	stanlaw: null,
	charet: null,
	hbo: null,
);
@each $project in $portfolio {
	.#{$project} {
		//linear-gradient(to top, rgba($color, .4), rgba($color, .6)),
    	background: 
    				url('../img/#{$project}/#{$project}-hero.png') no-repeat center / cover;
		filter: saturate(180%) contrast(120%);
    }
}

// Work Page Styles

.portfolio-category {
    font-family: $secondary-sans;
    color:$color;
}
.portfolio {
    .project-wrapper {
		display: flex;
		flex-flow: row wrap; 
		justify-content: space-between;
		align-content: space-between;
		margin-right: .85%;
		margin-bottom: 100px;
		.project {
		    position: relative;
		    border: 1px solid $color;
		    padding: 3%;
		    margin-bottom: 3%;
		    .project-img {
				width: 400px;
				height: 200px; 
		    }
		    .project-title {
		        color: #fff;
		        background-color: $color;
		        font-family: $default-sans;
		    	margin: 0;
		    }
		    .project-stack {
		        color: $color;
		        font-family: $default-serif;
		        font-size: 1rem;
		        background-color: #fff;
		        position: absolute;
		        top: 0;
		        right: 0;
		    }
		}  
    }
    a {
    	display:block;
    	background: none;
    	&:hover {
        	background: none;
    	}
	}
}


// Project Page Styles



.case-study__wrapper {
	display: grid;
	grid-template: repeat(1fr) / repeat(1fr);
	grid-gap: 1rem;
}

.case-study__overview {
    border: solid 1px $color;
    padding: 1rem;
    position: relative;
    h2 {
        font-family: $secondary-sans;
    }
    a {
		text-decoration: underline;
		color: $color;
	}
    &:after {
	    content: '';
	    position: absolute;
	    left: .5rem;
	    right: -1rem;
	    bottom: -1rem;
	    top: .5rem;
	    border: 1px solid $color;
    }
}
.case-study__brief {
	font-family: $default-sans;
	text-align: left;
	align-self: end;
}
.case-study__hero {
	grid-column: 3 / span 2;
	img {
		visibility: hidden;
	}
}
.case-study__details {
	grid-column: 1 / span 4;
	p {
		margin: 1rem;
	}
	h3 {
        font-family: $secondary-sans;
    }
	figure {
    	float:right;
    	width:40%;
    	border: solid white 3px;
	}
	figcaption {
    	font-size:14px;
    	text-align: center;
    	font-style: italic;
	}
}

[data-status] {
	text-transform: capitalize;
}
[data-status="inactive"] {
	color: #8c8c8c;
}
[data-status="active"] {
	color: #333;
}
