@media print {
	header, #section1, footer, .button, .octopus, #section3, .section-header, .printme {
		display:none;
	}
	
	* {
		background-color: #FFF;
		color: #000;
		font-size: 1em;
	}
	
	.textwrap {
		width: 100%;
	}
	
	#section2 article {
		width: 70%;
	}
	
	#section2 aside {
		width: 20%;
	}
	
	.resume:before {
		content: "Ellen Manuszak | ellen.manuszak@gmail.com | 646.229.8864";
		font-size: 1em;
        font-weight:400;
		text-align:center;
	}
	
	#section1 span:after {
		content: "";
	}
	
	#section1 a:after {
		content: attr(href);
	}
	
}