@media print {
	header, #section1, footer, .button, .octopus {
		display:none;
	}
	
	* {
		background-color: #FFF;
		color: #000;
		font-size: 1em;
	}
	
	.textwrap {
		width: 100%;
	}
	
	#section2 article {
		width: 60%;
	}
	
	#section2 aside {
		width: 20%;
	}
	
	.section-header:before {
		content: "Ellen Manuszak | ellen.manuszak@gmail.com | 646.229.8864";
		font-family: 'Lobster Two', cursive;
		font-size: 1.5em;
		text-align:center;
	}
	
	#section1 span:after {
		content: "";
	}
	
	#section1 a:after {
		content: attr(href);
	}
	
}