body {
	background: #ECE9E6;
	background: linear-gradient(to left, #e8e8e8 , #FFFFFF);
}

#wrapper {
	margin: 0 auto;
	padding: 0;
	max-width: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

.flexWrapper {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
	align-items: center;
}

.flexColumn {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	transform: translateY(27%);
}

.indent-right {
	transform: translate(42%, 0%);
}
.indent-left {
	transform: translate(-65%, -120%);
}

h2 {
	color: #eee;
	text-align: center;
	font-size: 2em;
}

.polygon {
	display: inline-block;
	margin: 2%;
	-webkit-clip-path: polygon(30% 0, 70% 0, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0 70%, 0 30%);
	clip-path: polygon(30% 0, 70% 0, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0 70%, 0 30%);
}


.poly-l {
	width: calc(100vw/2);
	height: calc(100vw/2);
}

.poly-m {
	background: #111;
	width: calc(100vw / 4);
	height: calc(100vw / 4);
}

.poly-s {
	width: calc(100vw / 8);
	height: calc(100vw / 8);
}

.poly-xs {
	width: 25%;
}



        