---
---
@import 'susy';
@import 'breakpoint';
@import 'mixins';
@import 'portfolio';
@import 'post';

$susy: (
	columns: 12,
	math: fluid,
	global-box-sizing: border-box,
// 	debug: (image: show)	
);
// breakpoints
$mobile-only: max-width 575px;

.cta {
	margin-top: 2em;
}
.fine-print {
	font-size: .5rem;
}

a.breadcrumb {
    font-family: $defaultSans;
    text-align: left;
    display: inline-block;
}
button {
	padding: .55em;
	font: 700 1rem $defaultSans;
	border: none;
	&:hover {
		cursor: pointer;
	}
}

a.overlay-menu {
	color: #fff;
	font: 700 .83rem $defaultSans;
	padding-right: 1rem;
	position: absolute;
	top: 10px;
	right: 0;
	line-height: 2;
}
a.overlay-menu_bottom {
    line-height:100px;
}

.image-tile {
	@include span(full nest);
	padding: gutter(12);
	background-color: rgba(color(primaryText), .3);
	overflow: hidden;
	ol, li {
		list-style: none;
		@include breakpoint(575px) {
			margin-left: 0;
		}
	}
	@include breakpoint($mobile-only) {
		li:not(:last-child) {
			margin-bottom: gutter(12);
		}
	}
}
.tilt {
	@include span(full nest);
	@include push(1 of 10);
	transform: rotateX(60deg) rotateY(3deg) rotateZ(-30deg);
// 	transform-style: preserve-3d;
	backface-visibility: hidden;
	@include breakpoint($mobile-only) {
		@include push(3 of 6);
	}
}
.tall {
	margin-top: -10vw;
	margin-bottom: -8vw;
	@include breakpoint($mobile-only) {
		margin-top: -60vw;
		margin-bottom: -80vw;
	}
}
[class^="img"] {
	@include span(12 split);
	position: relative;
	-webkit-backface-visibility: hidden;
	img {
		display: block;
	}
	img.shadow {
		background: rgba(0,0,0,.5);
		box-shadow: -10px 10px 30px 10px rgba(0, 0, 0, 0.5);
		transform: translateZ(10px);
	}
}
[class^="img-2"] {
	@include span(9);
	@include breakpoint(575px) {
		@include span(5 of 12);
	}
}
[class="img-2-last"] {
	@include breakpoint(575px) {
		@include span(5 of 12 last);
	}
}
[class^="img-3"] {
	@include breakpoint(575px) {
		@include span(4 of 12);
	}
}
[class="img-3-last"] {
	@include breakpoint(575px) {
		@include span(4 of 12 last);
	}
}
.shift-up {
	@include breakpoint($mobile-only) {
		margin-top: -20px;
	}
}
.shift-down {
	@include breakpoint($mobile-only) {
		margin-top: 20px;
	}
}
.stack-under {
	@include breakpoint($mobile-only) {
		transform: translate(-40%, -80%) translateZ(-150px);
	}
}
.last.stack-under {
	@include breakpoint($mobile-only) {
		transform: translate(-30%, -165%) translateZ(-250px);
	}
}

[data-status] {
	text-transform: capitalize;
}
[data-status="inactive"] {
	color: #8c8c8c;
}
[data-status="active"] {
	color: #333;
}

// Invoice
.invoice-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
}