---
---
@import 'breakpoint';
@import 'mixins';
@import 'accessibility';
@import 'form';
@import 'portfolio';
@import 'post';

// breakpoints
$mobile-only: max-width 575px;


// One-off Components
.xs {
    
}
.s {
}
.m {
    width: 40%;
}

.logo-absolute-bottom-left {
    bottom: 10px;
    left: 6px;
    @include breakpoint(575px) {
        position: absolute;
    }
}

.hidden {
    display: none;
}

.opacity-50 {
    opacity: .5;
}


// Invoice
.invoice-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
}