<!DOCTYPE html>
<html lang="en-US">
    <head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<meta name="author" content="{{ site.author }}">
		<meta name="description" content="{{ site.description }}">
		<link rel="icon" type="image/png" href={{ "/assets/img/favicon-hi.png" | relative_url }}>
		<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Lato:400,700|Roboto+Condensed:300,400,700" rel="stylesheet">
		
		<style type="text/css">
    		{% capture critical_sass %}
              {% include critical.scss %}
            {% endcapture %}
            {{ critical_sass | scssify }}
            {%if page.colors %}
                body {
                    background-color: {{ page.colors }};
                }
            {% endif %}
        </style>
        <link href={{ "/assets/css/style.css" | relative_url }} type="text/css" rel="stylesheet">
		<title>{{ page.title }} | Cactus.Works</title>
		<script src="https://use.fontawesome.com/c4dd1b7b3c.js" async defer></script>
    </head>

	<body>
		{{ content }}
	
	<script src="//code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="//static.getclicky.com/js" type="text/javascript"></script>
    <script type="text/javascript">try{ clicky.init(101076025); }catch(e){}</script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101076025ns.gif" /></p></noscript>
    <script src={{ "/assets/lib/moment.js" | relative_url }}></script>
	<script src={{ "/assets/js/scripts.js" | relative_url }}></script>
	</body>
</html>