<!DOCTYPE html>
<html lang="en-US">
    <head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<meta name="author" content="{{ site.author }}">
		<meta name="description" content="{{ site.description }}">
		<link rel="icon" type="image/png" href={{ "/assets/img/icons/favicon--cactus.svg" | relative_url }}>
		<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Roboto:300,400,700|Roboto+Condensed:300,400,700" rel="stylesheet">
        <link href={{ "/assets/css/style.css" | relative_url }} type="text/css" rel="stylesheet">
		<title>{{ page.nav_label }} | Cactus.Works</title>
    </head>

	<body>
		{% include header.html %}
		
		<main class="wrapper">
		{{ content }}
		</main>
		
	<script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
	<script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101076025);</script>
	<script async src="//static.getclicky.com/js"></script>
	<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101076025ns.gif" /></p></noscript>
    <script src={{ "/assets/lib/moment.js" | relative_url }}></script>
	<script src={{ "/assets/js/scripts.js" | relative_url }}></script>
	</body>
</html>