<!DOCTYPE html>
<html>
    <head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<meta name="author" content="Ellen Manuszak">
<meta name="description" content="Ellen Manuszak, aspiring front-end developer in New York with an integrated approach combining content and code. I am available for hire--please visit to find out more about me and to get in touch!">

<link rel="shortcut icon" type="image/png" href="assets/img/octo-icon.png">
<link href="assets/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet">
<link href="../css/style.css" type="text/css" rel="stylesheet">
<link href="../css/mobile.css" type="text/css" rel="stylesheet">
        <title>{{ page.title }}</title>
    </head>

<body>
<div id="wrapper">
	<div id="innerWrapper">
		{{ content }}
	</div>
</div>
				<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>	
</body>
</html>