---
layout: default
---

<section class="project-header">
    <div>
	<h2>{{ page.title }}</h2>
	{% if page.status == 'active' %}
		<a href="http://{{ page.address }}" target="_blank">{{ page.address }}</a>
	{% else if page.status == 'inactive' %}
	<span data-status="{{ page.status }}">{{ page.status }}</span>
	{% else %} <div></div>
	{% endif %}
	<p class="project-statement">{{ page.project_description }}</p>
    </div>

<aside class="project-brief">
	<div class="inner-border">
		<div>Deployed: {{ page.project_date }}</div>
		<div>Platforms: {{page.project_platforms }}</div>
		<div>Role: {{ page.project_role }}</div>
		<div>Tech: {{ page.tech_stack }}</div>
	</div>
</aside>

</section>

<div class="project-hero">
	<img src="/assets/img/{{page.name}}/{{page.hero_path | relative_url}}">
</div>

<div class="project-details">
	


<!-- 	{{ content }} -->
</div>