---
layout: default
---

<section class="case-study-header flex-wrapper">
    <div class="case-study-overview">
    	<h2>{{ page.title }}</h2>
    	{% if page.status == 'active' %}
    		<a href="http://{{ page.address }}" target="_blank">{{ page.address }}</a>
    	{% else if page.status == 'inactive' %}
    	<span data-status="{{ page.status }}">{{ page.status }}</span>
    	{% else %} <div></div>
    	{% endif %}
    	<p class="case-study-statement">{{ page.project_description }}</p>
    </div>

    <div class="case-study-brief flex-wrapper">
		<div class="case-study-hero">
			<img src="/assets/img/{{page.name}}/{{page.hero_path}}">
		</div>
    </div>
</section>



<div class="case-study-details">
	


	{{ content }}
	
	<a class="overlay-menu_bottom" href={{ "/work.html" | relative_url }}><i class="fa fa-arrow-left" aria-hidden="true"></i> back to view all work</a>
</div>